<%= link_to 'Edit this Dish', "/dishes/#{@dish.id}/edit" %>

  <h1><%= @dish.name %></h1>

  <p><%= @dish.cuisine %></p>

  <p><%= @dish.restaurant.name %></p>

  <p><%= @dish.dish_type %></p>

  <p><%= @dish.upvotes %></p>
