<%= simple_form_for @dish  do |f| %>
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.input :name, label: 'Dish Name', input_html: {class: "mdl-textfield__input"} %><br>
    <%= f.input :cuisine, label: "Cuisine", input_html: {class: "mdl-textfield__input"} %><br>
    <%= f.input :dish_type, label: "What kind of dish is it?", as: :select, collection: ["Fun","Gross"], input_html: {class: "mdl-textfield__input"} %><br>
    <%= f.association :restaurant, input_html: {class: "mdl-textfield__input"} %><br>
    <%= f.association :ingredients, as: :check_boxes, input_html: {class: "mdl-textfield__input"} %><br>
    <div class="form-button-wrapper">
      <button type="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Create Dish
      </button>
    </div>
  </div>
<% end %>
