<!DOCTYPE html>
<html>
<head>
  <title>Dishes in Montrose</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.orange-blue.min.css" />
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
  <div class="mdl-layout mdl-js-layout">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <%= link_to root_path do %>
              <%= image_tag src="DishesInMontrose.png" %>
            <% end %>
          <div class="searchwrapper">
            <%= form_tag root_path, method: :get do %>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
                <div class="mdl-tooltip" for="tt4">
                Search tips:<br /><br />Add <strong>"!"</strong> to exclude an ingredient.<br /><br /><strong>"!almonds eggs"</strong> returns dishes with eggs but without almonds.
                </div>
                <div id="tt4">
                  <button type="Submit" class="mdl-button mdl-js-button mdl-button--icon">
                    <div class="icon material-icons">search</div>
                  </button>
                </div>
                <input class="mdl-textfield__input" type="text" name="search_text" id="search_text">
              </div>
            <% end %>
          </div>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <% if @current_user %>
              <strong class="user-greeting">Hi,&nbsp;&nbsp;<%= @current_user.username.upcase %></strong>
              <%= link_to "+ Dish", new_dish_path, class: "mdl-navigation__link" %>
              <%= link_to "+ Ingredient", new_ingredient_path, class: "mdl-navigation__link" %>
              <%= link_to "+ Restaurant", new_restaurant_path, class: "mdl-navigation__link" %>
              <%= link_to 'Sign Out', sign_in_path, method: :delete, class: "mdl-navigation__link" %>
            <% else %>
              <%= link_to 'Sign In', sign_in_path, class: "mdl-navigation__link" %>
            <% end %>
          </nav>
          </div>
      </header>
      <% if notice %>
        <div class="alert alert-info" role="alert">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>
      <main class="mdl-layout__content">
          <div class="page-content">
            <div class="body-wrapper">
              <%= yield %>
            </div>
          </div>
      </main>
</body>
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Created by <%= link_to "lacewaves", "https://github.com/lacewaves" %> | <%= link_to "MIT License", "http://choosealicense.com/licenses/mit/" %> &copy; 2015</div>
    <ul class="mdl-mini-footer__link-list">
      <li><%= link_to "Help", "/help" %></li>
      <li><%= link_to "Privacy & Terms", "/privacy" %></li>
    </ul>
  </div>
</footer>
</div>
</html>
