<!DOCTYPE html>
<html>
<head>
  <title>H-Town Dishes</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.orange-blue.min.css" />
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--scroll">
      <img class="mdl-layout-icon"></img>
      <div class="mdl-layout__header-row">
        <span class="mdl-layout__title"><h4><%= link_to root_path do %><%= image_tag src="DishesInMontrose.png" %><% end %></h4></span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <%= link_to new_dish_path, class: "mdl-navigation__link" do %>
          + Dish
          <% end %>
          <%= link_to new_ingredient_path, class: "mdl-navigation__link" do %>
            + Ingredient
          <% end %>
          <%= link_to new_restaurant_path, class: "mdl-navigation__link" do %>
            + Restaurant
          <% end %>
        </nav>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                    mdl-textfield--floating-label mdl-textfield--align-right">
                     <div class="mdl-tooltip" for="tt4">
                     Click to search.<br /><br />Add <strong>"!"</strong> to exclude an ingredient.<br /><br /><strong>"!almonds eggs"</strong> returns dishes with eggs but without almonds. 
                     </div>
          <label class="mdl-button mdl-js-button mdl-button--icon"
                 for="fixed-header-drawer-exp">
                 <div id="tt4" class="icon material-icons">search</div>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <%= form_tag root_path, method: :get do %>
            <input class="mdl-textfield__input" type="text" name="search_text"
                   id="fixed-header-drawer-exp">

             <% end %>
          </div>
        </div>
      </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
          <div class="body-wrapper">
            <%= yield %>
            <div id="map"></div>

          </div>
        </div>
    </main>
</div>

</body>
</html>
