<div class="formcontainer">
  <%= simple_form_for @ingredient do |f| %>
    <div class="mdl-textfield mdl-js-textfield" id="#formwrapper">
      <%= f.input :name, label: "Ingredient Name", required: true, input_html: {class: "mdl-textfield__input"} %><br>
      <%= f.input :food_group, label: "Food group?", required: true, as: :select, collection: ["Dairy", "Fruit", "Vegetable", "Nuts", "Beans, Legumes", "Meat", "Shellfish", "Fish", "Confection", "Starch", "Water", "Alcohol", "Grain - gluten", "Grain - no gluten"], input_html: {class: "mdl-textfield__input"} %><br>
    </div>
    <div class="form-button-wrapper">
      <%= submit_tag "Submit", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"%>
      or
      <%= link_to 'Delete', "/ingredients/#{@ingredient.id}", method: :delete, data: {confirm: "Are you sure?"}, class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    </div>
  <% end %>
</div>
